{% extends 'base.html.twig' %}

{% block body %}
    <h1>This is another webpage</h1>
    <div>

        <div>{{ "now" | date('Y') }}</div>
        {# create variable #}
        {% set name = "David" %}
        <h2>{{ name }}</h2>
        </div>

        {# create table array #}
        {% set colors = ["orange", "brown", "red" ,"black", "blue"] %}
            <div>Number of colors: {{ colors | length }}</div>
            <div>{{ colors | join(' / ') | upper }}</div>

        {%  for color in colors %}
            <div style="background-color: {{ color }}">{{ color }}</div>
        {% endfor %}

        {# create an Object #}
        {% set book= {
            title: "PifPaf", 
            year: 2001, 
            author: "John Smith"} 
            %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key, val in book %}
        <div>{{ key }}: {{ val }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Other{% endblock %}