{% extends 'base.html.twig' %}

{% block title %}
{{ serie.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        {{ serie.name }}
    </h2>
    <article class="details_head">
        <img src="{{ asset('img/posters/' ~ serie.poster) }}" alt="{{ serie.name }}">
        <div>
            <h2>OVERVIEW</h2>
            <br>
            <p>{{ serie.overview }}</p>
        </div>
    </article>    
    <div>{{ serie.vote }}</div>

    
{% endblock %}